.home{
    height: 100vh;
    overflow: hidden;
}
#video-controls-bar {
    background: #333;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
    color: darksalmon;
}

#video-controls-bar button {
    margin-right: 10px;

}

/*     
.video-container {
    display: none;                 
} */

#video-controls-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}